<template>
  <v-app>
    <v-container style="max-width: 1440px; text-align: center">
      <h1 style="color: red; font-family: Cambria">Ход торгов <strong>Тестовые торги на аппарат ЛОТОС №2033564 (09.11.2020 07:00)</strong></h1>
      <p style="color: red">Уважаемые участники, во время вашего хода вы можете изменить параметры торгов, указанных в таблице:</p>
      <v-main>
        <TimerComponent/>
        <TableComponent/>
      </v-main>
    </v-container>

  </v-app>
</template>

<script>
import TableComponent from './components/TableComponent';
import TimerComponent from './components/TimerComponent';

export default {
  name: 'App',

  components: {
    TimerComponent,
    TableComponent,
  },

  data: () => ({}),
};
</script>
